# パッケージ関連（開発時に使用する場合）
node_modules/
vendor/

# キャッシュ・ログ・不要ファイル
*.log
*.zip
.DS_Store
*.bak
*.tmp

# ビルド出力と生成ファイル
dist/
build/
.sass-cache/
css/
js/
images/

# PHPファイル全体を一旦除外
*.php

# ただし、src/ 配下の PHP は除外しない（=管理対象にする）
!src/**/*.php

# CSS 出力物
*.css
*.css.map