@use "../globals/index" as *;
@use "sass:color";

// ========================
// 投稿ページ（ブログ一覧 / home.php 用）
// ========================
.blog-archive {
  &__pagination {
    text-align: center;
    font-family: $font-heading;
    font-size: 1.125rem;

    @include mq(lg) {
      font-size: 1.25rem;
    }

    .page-numbers {
      color: $color-white;
      margin: 0 0.5rem;
      transition: color $transition;

      @include hover-active(
        $hover: (
          color: $color-red,
        )
      );

      &.current {
        font-weight: bold;
        color: $color-red;
      }
    }
  }
}
