@use "../globals/index" as *;
@use "../components/blog-grid" as *;
@use "../components/blog-card" as *;
@use "sass:color";

// ========================
// 投稿ページ（ブログ一覧 / home.php 用）
// ========================
.blog-archive {
  .card-list--blog {
    @include blog-grid();
    @include blog-card();
  }

  &__pagination {
    text-align: center;
    font-family: $font-heading;
    font-size: 1.125rem;

    @include mq(lg) {
      font-size: 1.25rem;
    }

    .page-numbers {
      color: $color-white;
      margin: 0 0.5rem;

      @include mq(lg) {
        transition: color $transition;
      }

      &:hover {
        @include mq(lg) {
          color: $color-red;
        }
      }

      &.current {
        font-weight: bold;
        color: $color-red;
      }
    }
  }
}
