@use '../globals/index' as *;

// ========================
// ナビオーバーレイ
// ========================
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  background-color: rgba($color-black, 0.5); // 半透明黒
  backdrop-filter: blur(4px);          // 背景をぼかす
  z-index: 98;
  opacity: 0;
  pointer-events: none;
  transition: opacity $transition;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }
}
