@use '../globals/index' as *;
@use 'sass:color';

// ========================
// セクション共通
// ========================
.section {
  padding: 3rem $space-inline-section;
  background: $color-dark-red-gradient;
  color: $color-white;

  &__title {
    font-size: 2rem;
    font-family: $font-heading;
    text-align: center;
    color: $color-white;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-shadow: $text-shadow-black-default;
  }

  &__text {
    text-align: center;
    font-size: 1rem;
    color: $color-white;
    margin-bottom: 2rem;
    text-shadow: $text-shadow-black-default;
  }

  &__button {
    @include button-cta();
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include mq(lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;

    @include mq(lg) {
      flex: 0 1 45vw;
    }
  }

  &__picture {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: $radius-image;
    box-shadow: $box-shadow-red-default;
    transition: box-shadow $transition;

    @include mq(lg) {
      aspect-ratio: 3 / 2;

      .section__link:hover & {
        box-shadow: $box-shadow-red-hover;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
    transition: transform $transition, filter $transition;

    .section__link:hover & {
      @include mq(lg) {
        transform: scale(1.02);
        animation: bright-flash 0.2s linear forwards;
      }
    }
  }

  &--reverse .section__flex {
    @include mq(lg) {
      flex-direction: row-reverse;
    }
  }
}